<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 

        <main class="letras">
        <h3 class="about-us">SOBRE NOSOTROS</h3>
            <div class="about">Somos cuatro emprendedores con una visión de simplicidad y estilo para tu casa. 
                Nos inspiran los espacios y las personas que los habitan.  Y queremos que el confort y el diseño sea norma cotidiana para todos.
                Elegimos cada pieza en base a su funcionalidad y su belleza para que hagas de tu casa un HOGAR.<br>
                Vendemos solo minorista.</div>
           
            <div class="descripciones">
               

            <ul> 
                <li><img  class="aboutimg" src="/img/SoyEle.jpg" alt="imagen de Ele">
                    <h4>Elena</h4><div>Con 29 años sigue sufriendo por el estudio pero tiene un buen optimismo para seguir adelante y seguir estudiando 10 años mas</div>
            </li>
            <li><img class="aboutimg" src="/img/SoyAldi.jpg" alt="imagen de Aldana"><h4>Aldana</h4><div>
                Dejando su trabajo en relación de dependencia apuesta al camino emprendedor con ganas de darle un giro a su vida y aprovechar el tiempo a seguir sus sueños.</div></li> 
        </ul>


        <ul> 
            <li><img class="aboutimg" src="/img/SoyPablo.jpg" alt="imagen de Pablo"><h4>Pablo</h4> <div>
            Pisando los 40 entra en crisis y busca un nuevo rumbo, sin jefes autoritarios ni horarios rígidos, busca la pasión perdida sumergiéndose en nuevos emprendimientos y desafíos!</div> </li>
        
            <li><img class="aboutimg" src="/img/SoyMeli.jpg" alt="imagen de Meli"><h4>Melina</h4> <div>
                Autodenominada eterna estudiante.  En un mundo pandemico deja atrás los viajes que tanto la inspiran para volver a su país a crear.</div> </li>
        </ul>
        </main>

        
        
    
        
        <%- include('partials/footer')  %> 
       
    </body>
    </html>