<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 
    <main class="empty-cart">
        <h2>Carrito de Compras</h2>
      
    <div class="border-top"></div>
        <div class="vacio">   
    
        <div>No hay productos en tu carrito de compras.</div>

        <div>Haga click <a href="/">aquí</a>  para continuar comprando.</div></div> 
    </main>
    <%- include('partials/footer')  %> 
</body>
</html>