<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 
    
    <main class="not-found">
     <div class="mensaje-error letrasazules">
         <h2>Ups! Bienvenido al limbo</h2>
         <div>La página que buscabas no existe, pero tenemos buenas noticias! Si haces click <a href="/products/all" class="linkverde"> acá</a> vas a ver los mejores productos para tu hogar!</div>
     </div>

    </main>
    <%- include('partials/footer')  %> 
</body>
</html>
