<footer>
    <div class="footer">
    <article class="pie-de-pagina">
        <div class="logo-footer"><a href="/"><img src="/img/logo-claro.png" alt="" class=".rot90"></a></div>
    
        <article class="sub-titulo">
            <div class="enlaces-1">Links de interés</div>
            <ul class="enlaces">
                <li><a href="/">Inicio</a></li>
                <li><a href="/products/all">Todos los productos</a></li>
                <li><a href="/about">Sobre Nosotros</a></li>
                
                </ul>
        
        </article>        
        <article class="sub-titulo"  >
            <div class="enlaces-2">Contactanos</div> 
                <ul class="enlaces">
                <li><a href="mailto:info@granbazar.com.ar">Envianos un correo</a></li>
                <li><a href="tel:2494207905">Por teléfono</a></li>
                <li>Calle Independencia 1234, Buenos Aires</li>
                </ul>
        
        </article>
        <article class="iconos">
            <section class="de-iconos" >
            <div>Seguinos en nuestras Redes Sociales</div>
             
                <ul>
                <li><a href="https://www.instagram.com/gran.bazarba/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/gran.bazardh"><i class="fab fa-facebook"></i></a></li>
                <!--<li class="wp"><a href="https://api.whatsapp.com/send?phone=542494207905"><i class="fab fa-whatsapp"></i></a></li>-->
        </ul>
       <!-- <div class="wp"><a href="https://api.whatsapp.com/send?phone=542494207905"><i class="fab fa-whatsapp"></i></a></div> -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=542494207905" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
            </section>
        </article>
    </div>   
       <div class="copy">
            <section class="de-copy">    
                <div>Copyright&copy; 2021 Gran Bazar</div>
            </section> 
        </div>
    
</footer>