<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %> 
<body>
    <%- include('../partials/header')  %> 


        <main> 
        <div class="ingresa">INGRESÁ A TU CUENTA</div>
        <form  method="POST" id="login" action="/users/login" class="login">

        <div class="form-control" id="email-validacion">
            <label for="">Email</label>
            <input type="email" name="email" id="email">
            <span  style="color:#b60b0b" id="correo" ></span>
            <% if (locals.errors && errors.email) { %> 
                <div class="text-danger">
                    <%= errors.email.msg %> 
                </div>
            <% } %> 
        </div>

        
        <div class="form-control position">
            <label for="">Contraseña</label>
            <span class="fas fa-eye-slash"  id="ojo" ></span>
            <input type="password" name="password" id="password" >
            <span  style="color:#b60b0b" id="contraseña" ></span>
        </div>

        <input type="checkbox" name="recordame" id=""><label for="">Recordame</label>
        
        <button type="submit" class="enviar">Iniciar sesión</button>
        

        </form> 
        <p class="login">¿No tenes cuenta? ¡Registrate <a class="register-here" href="/users/register">aquí</a>!</p>
            
        </main>


        <%- include('../partials/footer')  %> 
        <script src="/js/loginValidations.js" ></script>
        <script src="/js/validaEmail.js" ></script>
    </body>
    </html>